import(shiny)
import(dplyr)
import(DT)
import(ragg)
import(eoffice)
import(ggplot2)
import(officer)
import(flextable)
import(glue)

export(downloadDT)
export(downloadPlot_UI)
export(downloadPlot_server)
export(add_table_to_word)
export(add_plot_to_word)
export(render_plots_UI)
